@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');

:root {
	--button-green: #4CAF50;
	--button-blue: #55bdde;
	--dark-brown: #654321;
}


body {
	background-color: lightblue;
}

.background {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: Fahkwang;
}

.title h1 {
	margin-bottom: 0;
}

.title p {
	margin-top: .5em;
	font-size: 18px;
	padding-bottom: 2rem;
	font-family: Fahkwang;
}

.cookie-counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	padding: 1rem;
	margin-bottom: 2rem;
	border: 1px solid black;
	border-radius: 1rem;font-family: Fahkwang;

	/*color: var(--dark-brown);*/
}

.cookie-counter h1 {
	margin: 0;
	padding: 5px;
	padding-top: -1em;
	margin-top: -10px;
}


.cookie-btn {
	display: flex;
	flex-direction: row;
	border: 0 solid red;
	background: none;
	width: 200px;
	height: 200px;
	margin: 0;
	margin-bottom: 1.5rem;
	padding: 0;
}

.cookie-btn, .btn:focus {
	outline: 0;
	box-shadow: none!important;
}

.shop-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: burlywood;
	border-radius: 2rem;
	padding-bottom: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: Fahkwang;
}

.shop {
	display: flex;
	flex-direction: row;
	font-family: "Times New Roman";
}

/* Click Power Button */
.power-btn {
	background-color: var(--button-blue);
	color: white;
	border: 0 solid white;
	border-radius: 4px;
	width: 120px;
	height: 44px;
	font-size: 16px;
}

.power-btn:hover {
	background-color: white;
	border: 1px solid var(--button-blue);
	color: var(--button-blue);
}
.power-btn, .btn:focus {
	outline: 0;
	box-shadow: none!important;
}

/* Grandmas Button */
.grandma-btn {
	background-color: var(--button-blue);
	color: white;
	border: 0 solid white;
	border-radius: 4px;
	width: 120px;
	height: 44px;
	font-size: 16px;
}
.grandma-btn:hover {
	background-color: white;
	border: 1px solid var(--button-blue);
	color: var(--button-blue);
}
.grandma-btn, .btn:focus {
	outline: 0;
	box-shadow: none!important;
}

/* Factory Button */
.factory-btn {
	background-color: var(--button-blue);
	color: white;
	border: 0 solid white;
	border-radius: 4px;
	width: 120px;
	height: 44px;
	font-size: 16px;
}
.factory-btn:hover {
	background-color: white;
	border: 1px solid var(--button-blue);
	color: var(--button-blue);
}
.factory-btn, .btn:focus {
	outline: 0;
	box-shadow: none!important;
}


.item-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	border: aliceblue;
	border-radius: 2rem;
	width: 300px;
	height: 100%;
	margin: 1rem;
	box-shadow: 5px 5px var(--dark-brown);
}
